
hr {
    width: 200px;
}
h3 {
    text-align: center;
}

mat-icon {
    vertical-align: middle;
}

.suggestion {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
        margin-left: 20px;
    }
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & .poll {
        margin-left: 50px;
    }
}
