<div class="lists">
    <app-restaurant-ranking [restaurants$]="restaurants$"></app-restaurant-ranking>

    <hr />

    <div>
        <h3>Restaurants</h3>
        <div *ngIf="!(restaurants$ | async)">
            Chargement ...
        </div>
        
        <div *ngFor="let restau of restaurants$ | async">
            <div>
                <mat-icon 
                    matTooltip='Ajouté le : {{ restau.createdAt | date: "dd/MM/yyyy à HH:mm" }}' 
                    matTooltipPosition="above"
                    color="primary"
                >info</mat-icon> &nbsp; {{ restau.name }}
                
                <button mat-mini-fab color="accent" (click)="onVoted(restau)">
                    <mat-icon>plus_one</mat-icon>
                </button>
            </div>
            <br />
        </div>
    </div>
</div>