<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>On mange où ?</span>
    <span class="spacer"></span>
    <a class="github-button" href="https://github.com/logopolop/restaurants" data-show-count="true" aria-label="Star logopolop/restaurants on GitHub">Star</a>      
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #drawer>
        <button mat-stroked-button (click)="onResetAll()">
            <mat-icon>restore</mat-icon> Remise à 0
        </button>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

