.spacer {
    flex: 1 1 auto;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer, mat-drawer-content {
    padding: 16px;
}

mat-drawer {
    width: 200px;
    text-align: center;
}

mat-icon {
    vertical-align: middle;
}