<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" *ngIf="isAuth" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>On mange où ?</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/restaurants">
      <mat-icon>home</mat-icon> Accueil
    </button>
    <!--
      <button mat-button *ngIf="!isAuth" routerLink="auth/signup">
        <mat-icon>person_add</mat-icon> Inscription
      </button>
    -->
    <button mat-button *ngIf="!isAuth" routerLink="auth/signin">
      <mat-icon>person</mat-icon> Connexion
    </button>
    <button mat-button *ngIf="isAuth" (click)="onSignOut()">
      <mat-icon>input</mat-icon> Déconnexion
    </button>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #drawer>
        <button mat-stroked-button (click)="onResetAll()">
            <mat-icon>restore</mat-icon> Remise à 0
        </button>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

