
      <div>
        <h3>Merci ! Vous êtes bien inscrit !</h3>
  
        <div *ngIf="authService.userData as user">
          <p class="text-center">Nous vous avons envoyé un email à l'adresse <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Merci de cliquer sur le lien contenu dans l'email pour valider votre compte.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api
        <div>
          <button mat-stroked-button color="primary" (click)="authService.sendVerificationMail()">
            Renvoyer un nouvel email
          </button>
        </div>
         -->
  
      </div>

      <br />
  
      <div class="redirectToLogin">
        <span>C'est fait ? <a routerLink="/auth/signin">Se connecter</a></span>
      </div>
  