<mat-card>
    <mat-card-content>
        <div class="authBlock">
            <h3>Mot de passe oublié</h3>
    
            <p class="text-center">Saisisser votre adresse mail pour demander un nouveau mot de passe.</p>
    
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Adresse email" #passwordResetEmail required>
            </mat-form-field>
    
            <button mat-raised-button color="primary" (click)="authService.forgotPassword(passwordResetEmail.value)">Réinitialiser le mot de passe</button>

        </div>
    
        <br />
        <hr />
        <br />

        <div class="redirectToLogin">
            <span>Revenir en arrière ? <a routerLink="/auth/signin">Se connecter</a></span>
        </div>
  
    </mat-card-content>
  </mat-card>
