<mat-card class="example-card" *ngIf="user">
  <mat-card-header>
    <img mat-card-avatar src="{{(user.photoURL) ? user.photoURL : 'https://material.angular.io/assets/img/examples/shiba1.jpg'}}"
                  alt="{{user.displayName}}">
    <mat-card-title>
      Hello <strong>{{(user.displayName) ? user.displayName : 'Utilisateur'}}</strong>
    </mat-card-title>
    <mat-card-subtitle>{{(user.emailVerified) ? 'Utilisateur vérifié' : 'Merci de confirmer votre email'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Email: <strong>{{user.email}}</strong></p>
    <hr />
    <p>Nombre de votes : <strong>{{ (user.nbVotes) ? user.nbVotes : 0 }}</strong></p>
    <p>Dernier vote le : <strong>{{ (user.lastVoteAt) ? (user.lastVoteAt.toDate() | date:'dd/MM/yyyy à HH:mm') : 'Vous n\'avez pas encore voté' }}</strong></p>
  </mat-card-content>
</mat-card>
